.img1 {
    width: 46em;
    box-shadow: 1px 1px 12px 5px #94c4cf;
    margin-top: 150px;
}

.fond {
    background-color: rgb(207, 148, 177);
}

.placement {
    display: flex;
    width: 25%;
}

.img2 {
    width: 25em;
    margin: 20px;
    box-shadow: 1px 1px 12px 1px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 70px;
    font-family: Dancing Script, cursive;
    font-weight: 400;
}

h3 {
    font-family: Dancing Script, cursive;
}

.btn {
    border-radius: 27px;
    height: 50px;
    width: 144px;
    background: white;
    color: black;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn:active {
    background-color: rgba(0, 0, 0, .1)!important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, .1);
}

a {
    color: black;
}

.card {
    margin: 45px;
    align-items: center;
    box-shadow: 1px 1px 12px 5px #9c5150;
}

.card-body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 70% !important;
}

.logo4 {
    width: 100% !important;
    padding-top: 100px;
}

.card-body {
    display: flex;
    justify-content: end !important;
}

.box-img {
    box-shadow: 1px 1px 12px 5px #9c5150;
}

@media screen and (min-width: 0px) and (max-width: 440px) {
    .img1 {
        width: 22em;
    }
    .responsiveImg {
        display: flex;
        flex-direction: column;
    }
    .responsiveMarge {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 450px) and (max-width: 770px) {
    .img1 {
        width: 30em;
    }
}