
.blocPrix{
    height: 326px;
    width: 720px;
}





@media screen and (min-width: 320px) and (max-width: 780px){
    .textbebe{
        font-size: 16px !important;
    }
    .titre{
    font-size: 60px !important;
    padding-bottom: 10px;
}
}

@media screen and (min-width: 310px) and (max-width: 330px){
    .buttonbebe{
        padding-bottom: 100px;
    }
}


