<div class="row">
    <img class="img" src="../../../assets/fondAlletement.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Allaitement</h1>
    <p class="textbebe">Vous avez choisi d’allaiter votre/vos bébés.</p>
    <p class="textbebe">Je vous propose des ateliers pour préparer un futur allaitement ou bien un accompagnement personnalisé </p>
    <p class="textbebe">afin que celles-ci puissent répondre au mieux à vos attentes et vos besoins.</p> <br>
    <p class="textbebe"> <span class="gras"> Atelier d'initiation à l'allaitement maternel 1h : </span></p> <br>

    <p class="textbebe">Notion de base sur l'allaitement, ce qu'il faut savoir avant de démarrer un allaitement, matériel utile à <br> l'allaitement.</p> <br>
    <p class="textbebe"> <span class="gras">Un suivi de votre Allaitement maternel des la sortie de la maternité peut être envisagé  <br>pour cela n'hésitez pas à me contacter. </span> </p>
    <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>



</div>
<div class="_2nX3s _3Kbrr qzGsK" style="background-image:url('https://i.ytimg.com/vi/HAtNWL2ADzE/maxresdefault.jpg')"></div>

<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Allaitement
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br> Atelier d'initiation en visio : 42€<br> Atelier d'initiation au cabinet : 52€<br>

            </p>


        </div>


    </div>

</section>