<section class="section row">


            <h2 class="titrebloc text-align-center">
                « Le bonheur, en partant , m’a dit qu’il reviendrait . »
            </h2>
            <p class="  textbebe text-align-center"><br>
            jacques pervert

            </p>


</section>

<div class="row">
<img class="img" src="../../../assets/fondDeuil.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Accompagnement au deuil périnatal </h1>
    <p class="textp">Une fausse couche , une IVG, une interruption médicale de grossesse, la perte de votre bébé, jeune enfant... <br> <br>

        Toutes ces épreuves, au combien difficiles ont besoin d'être accompagnées . <br> <br>

        Pour cela un accompagnement personnalisé existe chez Eau service de bébé , afin de vous écouter et vous aider <br>
         dans les étapes de votre deuil .
        Mais également a vous préparer  à une interruption médicale de grossesse, à accueillir votre bébé. <br>

        - Vous n’êtes plus seuls - <br>

         Il n’y a pas de nombre précis de séance, nous allons à votre rythme, selon vos propres besoins . <br><br>

        Des outils comme la sophrologie, jeux de libération des émotions , rituels "d'au revoir" et encore bien d'autres <br>
         vous seront proposés afin de cheminer vers l’acceptation, la libération de vos émotions , la création du lien avec <br> votre enfant perdu et la sérénité.</p>
    <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>



</div>
<div class="_2nX3s _3Kbrr qzGsK" style="background-image:url('https://i.ytimg.com/vi/HAtNWL2ADzE/maxresdefault.jpg')"></div>

<section #prix class="section row">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Tarif
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br>
                Séance : 50€

            </p>




    </div>
    </div>
</section>
