<div class="row">
    <img class="img" src="../../../assets/imgFondThalasso.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Thalasso Bain Bébé</h1>
    <p class="textbebe">Ce n’est pas un bain « d’hygiène », c’est un «<span class="gras">bain soin </span> ». </p>

    <p class="textbebe">Un bain qui permet au bébé de relâcher ses tensions. </p>
    <p class="textbebe">Le nouveau-né retrouve ainsi des sensations et des positions qu’il avait dans le ventre de sa mère.</p>
    <p class="textbebe"> Le Thalasso Bain est comme <span class="gras"> une transition entre la vie intra-utérine et le monde extérieur.</span></p>
    <p class="textbebe"> Un moment de détente, de sérénité et de bien être pour bébé mais également pour vous parents.</p>
    <p class="textbebe"> Le Bain Soin Bébé s’adresse <span class="gras">aux nouveau-nés de la naissance jusqu’au 21eme jour de vie</span> , aux bébés qui <br> ont vécu un accouchement long ou non, une césarienne, une séparation avec la maman, aux bébés nés <br> prématurément,
        qui ont eu un lien d’attachement difficile, mais aussi pour tous les autres bébés.</p> <br>
    <p class="textbebe gras"> Le Thalasso Bain peut être offert à de futurs/jeunes parents sous forme de bon cadeau, ou encore <br> être ajouté à une liste de naissance.</p>


    <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>
</div>
<div class="video section row flex-column align-items-center">
    <div class="col-lg-6 col d-flex justify-content-center">
        <iframe class="video" width="730" height="615" src="https://www.youtube.com/embed/HAtNWL2ADzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="col-lg-6 col d-flex justify-content-center">
        <iframe class="video" style="margin-top: 100px;" width="730" height="615" src="https://www.youtube.com/embed/OrDb-5Sz6AI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>
</div>
<app-ngb-carousel [images]="images" [titre]='false'></app-ngb-carousel>

<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Thalasso bain bébé à domicile
            </h2>
            <p class="  textbebe text-align-center">À partir de 103€


            </p>
            <p class="paddingbloc textbebe text-align-center"><br>Aix-Marseille et alentours<br> <br> - Moins de 30 km 100 €<br> - 30 à 40 km 130 € <br> - 40 à 50 km 160 € <br>
            </p>
            <h2 class="titrebloc text-align-center">
                Tarif Jumeaux
            </h2>
            <p class=" paddingbloc textbebe text-align-center">À partir de 153€<br>


            </p>

            <h2 class="titrebloc text-align-center">
                Nouveau:
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br>Thalasso bain bébé avec montage photos/vidéo de la séance : <br> 175€
                <br> <br> Pour plus d'informations me contacter<br>
            </p>


        </div>
    </div>
</section>