<div class="row">
    <img class="img" src="../../../assets/photoFondAteliers.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Préparer l'arrivée de bébé</h1>
    <p class="textbebe">Vous attendez un bébé et vous ne savez pas par où commencer ? <br>

        <p class="textbebe">Quelles démarches administratives effectuées ?</p>
        <p class="textbebe">Quand faire votre liste de naissance ? Que doit-elle contenir ? Quels produits allez-vous utiliser pour bébé, quelles marques de couches, </p>
        <p class="textbebe">quels sièges auto, quelles poussettes…?</p>
        <p class="textbebe"> La valise de maternité ? </p>
        <p class="textbebe"> Allaitement ou biberon ? Quel lait ?</p>
        <p class="textbebe">Les premiers soins de bébé ? </p>
        <p class="textbebe">... </p>
        <p class="textbebe">Je vous propose un atelier pour répondre à toutes vos questions !</p>
        <p class="textbebe">Il vous apportera avec toute ma bienveillance des idées et des conseils pour que l’arrivée de votre bébé</p>
        <p class="textbebe"> soit la plus sereine possible.</p>
        <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>
</div>


<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Préparer l'arrivée de bébé
            </h2>
            <p class="textbebe text-align-center"><br>Atelier individuel en Visio :40€ (1h30)<br>Atelier Cabinet : 55€ (1h30)<br>(Frais km si +30km)</p>


        </div>
    </div>
</section>