<div class="row d-flex justify-content-center paddingtop100">
<div class="col-lg-5 ">
<div class="titrebloc mb-4">Mentions légales</div>

<p class="policeEauServiceBebe">
    La plupart des lois et réglementations mondiales en matière de télécommunications exigent que les sites
     Web qui n'ont pas une utilité strictement privée ou de nature personnelle doivent avoir des mentions
      légales conformes. Ceci est valable également pour les sites contenant un blog ou des textes de nature
       journalistique.  
    </p>
<p class="policeEauServiceBebe"> Le nom de la personne responsable de la publication doit apparaître dans les mentions légales, ainsi que
     l'adresse et les coordonnées complètes. Cela veut dire notamment le téléphone et l'adresse e-mail. D'autres
      informations légales peuvent être requises. Veuillez vous rapprocher d'un expert pour connaître le détails
       des informations nécessaires à fournir pour votre site.</p>
    </div>
</div>
