<div class="row">
    <img class="img" src="../../../assets/sommeil.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Sommeil bébé </h1><br>

        <p class="textbebe">Votre bébé / jeune enfant rencontre des difficultés pour s’endormir, à du mal à </p>
        <p class="textbebe">dormir la journée et/ou se réveille plusieurs fois par nuit ?</p>
        <p class="textbebe">Vous souhaitez avoir l’avis de professionnels formés au sommeil .</p>
        <p class="textbebe">Je vous propose de vous accompagner dans l’acquisition de ce besoin chez votre tout petit. </p>
        <h2 class="titrebloc text-align-center">
            Comment se déroule l’accompagnement : 
        </h2>
        <p class="textbebe">Une première séance est nécessaire pour vous connaître vous et votre bébé/ </p>
        <p class="textbebe">jeune enfant, connaître vos habitudes et les difficultés rencontrées , à la suite de</p>
        <p class="textbebe">ce rdv un plan vous sera proposer pour vous aider à accompagner le sommeil de votre bébé/ jeune enfant.</p>
        <p class="textbebe">Par la suite un suivi sur 3 semaines est recommandé avec un rdv hebdomadaire pour suivre l’évolution du sommeil de bébé/ jeune enfant.</p>
        
        <button class="buttonbebe" ><i class="fas fa-caret-down"></i></button>
</div>


<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Formée au sommeil par Audrey Njdave, infirmière clinicienne spécialisée en périnatalité au Canada 
            </h2>
            
            
            <p class="textbebe text-align-center"><br>Tarif: 
                1ère séance: 65€
                Séance de suivi : 50€<br> Pack 1ère séance + 2 séances de suivi : 155€</p>
        </div>
    </div>
</section>
