<div class="row">
    <img class="img" src="../../../assets/fondMassage.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Massage bébé</h1>
    <p class="textbebe">Le « toucher massage » met en éveil les sens de bébé et du parent qui réalise le massage. C’est un moment</p>
    <p class="textbebe">partagé qui permet de créer et ou <span class="gras">renforcer les liens d’attachement</span> avec votre bébé. </p>
    <p class="textbebe">Les massages bébé ont des bénéfices émotionnels et physique autant chez l’enfant que chez les parents.</p>
    <p class="textbebe">Un instant de partage, de plaisir, de douceur et de tendresse. <br> Un lien de proximité est tissé avec votre bébé.</p> <br>

    <p class="textbebe textp">Les bienfaits du massage bébé : </p><br>
    <p class="textbebe"> Moment privilégié, alliant tendresse et amour. <br> - Soulage et apaise les maux de bébé (constipation, gaz, coliques, reflux, pleurs…) <br> - Procure un moment de détente et de bien-être pour le bébé et ses parents. <br> - Stimule le développement
        cognitif du bébé. <br> -Favorise l’interaction parents/bébé </p>
    <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>



</div>
<div class="_2nX3s _3Kbrr qzGsK" style="background-image:url('https://i.ytimg.com/vi/HAtNWL2ADzE/maxresdefault.jpg')"></div>

<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Massage bébé
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br> Atelier collectif en cabinet 42€ <br> Atelier individuel en cabinet : 52€
            </p>





        </div>
    </div>
</section>