<div class="row">
    <img class="img" src="../../../assets/fondNaturo.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Naturopédiatrie</h1>
    <p class="textp">L'accompagnement par la naturopédiatrie vous guide et vous conseil sur l'hygiène vie de <br> votre nouveau né /enfant (sommeil, alimentation, choix du lait ...) et vous accompagne <br> pour soulager les maux du quotidien à l'aide de méthodes naturelles.<br></p>
    <p class="textbebe">Ceci n'est pas une visite médicale .</p>
    <button class="buttonbebe" (click)="scroll(prix)"><i class="fas fa-caret-down"></i></button>



</div>
<div class="_2nX3s _3Kbrr qzGsK" style="background-image:url('https://i.ytimg.com/vi/HAtNWL2ADzE/maxresdefault.jpg')"></div>

<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                Naturopédiatrie
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br> Première séance: 65€ <br> Séance de suivi: 47€

            </p>



        </div>

    </div>
</section>