img{
    
    height: 40em;

}
.buttonbebe{
    bottom: -160px;
}
.blocPrix{
    height: 290px;
    width: 50%;
}
@media screen and (min-width: 320px) and (max-width: 780px){
    .textbebe{
        font-size: 13px !important;
    }
    .titre{
    font-size: 50px !important;
    padding-bottom: 10px;
}

.blocPrix{
    width: 90%;
}


}

@media screen and (min-width: 310px) and (max-width: 430px){
    .buttonbebe{
        padding-bottom: 100px;
    }
}