<section class="section row justify-content-center flex-column align-items-center">

    <div class="col-lg-6 col d-flex justify-content-center">

        <img class=" img1 img-fluid" src="../../assets/photoAccueil.jpg" alt="">
    </div>
    <div class="col-12">
        <h2> Quand la magie opère ...</h2>
    </div>
    <div #scrollMe class="col-12 d-flex justify-content-center responsiveImg ">
        <div class="col col-md-3 responsiveMarge "><img class="box-img img-fluid" src="../../assets/photo2.jpg" alt="photo de bébé dans le bain"></div>
        <div class="col col-md-3 responsiveMarge "><img class="box-img img-fluid" src="../../assets/photo3.jpg" alt="photo de bébé dans le bain"></div>
        <div class="col col-md-3 responsiveMarge "><img class="box-img img-fluid" src="../../assets/photo4.jpg" alt="photo de bébé dans le bain"></div>
    </div>
    <!--  <div class="">-->
    

</section>
<!--  </div>-->