<div class="fond">
    <div class="d-flex justify-content-center">
        <img class=" img1 img-fluid" src="../../assets/photo1.jpg" alt="">
    </div>
    <h2> Quand la magie opère ...</h2>
    
    <div class="row d-flex justify-content-center">
        <div class="col-6 col-md-3"><img class="img2 img-fluid" src="../../assets/photo2.jpg" alt=""></div>
        <div class="col-6 col-md-3"><img class="img2 img-fluid" src="../../assets/photo3.jpg" alt=""></div>
        <div class="col-6 col-md-3"><img class="img2 img-fluid" src="../../assets/photo4.jpg" alt=""></div>
      </div>
    <div class="">
        <h2>Presentations</h2>
        <div class="row justify-content-center">
            <div class="card col-4" >
                <img src="../../assets/logo1.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Thalasso Bain Bébé </h3>

                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
           
                <div class="card col-4" >
                    <img src="../../assets/logo2.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Massage Bébé  </h3>

                        <a class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>

            


        </div>
        <div class="row justify-content-center">
            <div class="card col-4">
                <img src="../../assets/logo3.png" class="card-img-top img-fluid " alt="...">
                <div class="card-body">
                    <h3 class="card-title">Allaitement</h3>

                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
            
                <div class="card col-4">
                    <img src="../../assets/logo4.png" class="card-img-top img-fluid logo4" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Préparer l'arrivée de bébé </h3>

                        <a class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
               

           


        </div>
        <div class="row justify-content-center">
            <div class="card col-4" >
                <img src="../../assets/logo5.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Naturopédiatrie </h3>

                    <a class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
            
                <div class="card col-4" >
                    <img src="../../assets/logo6.png" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h3 class="card-title ">Accompagnement au deuil périnatal  </h3>

                        <a class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>

         


        </div>


    </div>