<div class="row">
    <img class="img" src="../../../assets/massage.jpg" alt="">
</div>
<div class="textArriverBebe row">
    <h1 class="titre">Massage bien être  jeune maman</h1>

        <p class="textbebe">Ce massage s’adresse à toutes les mamans.</p>
        <p class="textbebe">En effet l’arrivée d’un bébé dans la famille demande beaucoup d’énergie aux mamans . </p>
        <p class="textbebe">Pour cela je vous propose un moment de bien être d’une durée d’une heure rien que pour vous .</p>
        <p class="textbebe">Si vous venez avec votre bébé, il sera mis en peau à peau et/ ou tout près de vous durant toute la séance . </p>
        <h2 class="titrebloc text-align-center">
           <br> Les bienfaits du massage bien être:
        </h2>
        <p class="textbebe">Régénère votre énergie </p>
        <p class="textbebe">Aide à retrouver un bien-être physique après la grossesse et l’accouchement  </p>
        <p class="textbebe">Tonifie la peau</p>
        <p class="textbebe">Remodèle le corps </p>
        <p class="textbebe">Élimine les toxines</p>
        <p class="textbebe">Aide à la régulation des hormones</p>
        <button class="buttonbebe" ><i class="fas fa-caret-down"></i></button>
</div>


<section #prix class="section row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div id="prix" class="blocPrix">

            <h2 class="titrebloc text-align-center">
                 À partir de 2 semaines après votre accouchement et sans date limite. 
            </h2>
            
            <p class="textbebe text-align-center"><br>Tarif: 
                En cabinet : 75€</p>
        </div>
    </div>
</section>