
<div id="prix" class="blocPrix tel">
     
    <h2 class="titrebloc text-align-center">
        Thalasso bain bébé à domicile 
    </h2>
    <p class=" textbebe text-align-center"><br>Aix-Marseille et alentours<br> <br>
        - Moins de 30 km 100 €<br>
        - 30 à 40 km 130 € <br>
        - 40 à 50 km 160 € <br>
    </p>
    
        <h2 class="titrebloc text-align-center">
            Nouveau:
        </h2>
        <p class=" paddingbloc textbebe text-align-center"><br>Thalasso bain bébé avec montage photos/vidéo de la séance : <br>
            -170€<br> <br>
            
            Pour plus d'informations me contacter<br>
        </p>
        


</div>
