<section  class="section">
    <div id="prix" class="blocPrix">
     
            <h2 class="titrebloc text-align-center">
               Mes Évènement / {{postService.tableauEvenement[0].titre }}
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br>
                Séance : 50€ / {{postService.tableauEvenement[0].message }}
  
            </p>
           <a routerLink='/formulaireEvenement' > <button  class="btn btn-primary">Participer</button>
        </a>
            
                
        
  
    </div>
</section>