<section  class="section row" >
    <div id="prix" class="blocPrix " *ngFor="let tab of postService.tableauEvenement; let index = index" >

            <h2 class="titrebloc text-align-center">
               {{tab.titre }}
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br>
               {{tab.message }}

            </p>
<!--           <a routerLink='/formulaireEvenement' > <button  class="btn btn-primary">Participer</button>-->
<!--        </a>-->

        Nombre de participants :  {{tab.compteur}}
        <button *ngIf="authService.isAuth" (click)="participerEvenement(index)" class="btn btn-primary" [ngClass]="{'disabled' : userParticipeDeja(index)}">Je participe</button>
        <button *ngIf="!authService.isAuth" (click)="open()" class="btn btn-primary">Je participe</button>


    </div>
</section>
