<section  class="section row" >
    <div id="prix" class="blocPrix " *ngFor="let tab of postService.tableauEvenement; let index = index" >
      <i *ngIf="authService.isAdmin" class="far fa-trash-alt" style="cursor: pointer" (click)="supprimerEvenement(index)"></i>
            <h2 class="titrebloc text-align-center">
               {{tab.titre }}
            </h2>
            <p class=" paddingbloc textbebe text-align-center"><br>
               {{tab.message }}

            </p>
<!--           <a routerLink='/formulaireEvenement' > <button  class="btn btn-primary">Participer</button>-->
<!--        </a>-->

        Nombre de participants :  {{tab.idUser.length}}
      <div class="d-flex">
        <button *ngIf="authService.isAuth" (click)="participerEvenement(index)" class="btn btn-primary mr-2" [ngClass]="{'disabled' : userParticipeDeja(index)}">Je participe</button>
        <button *ngIf="!authService.isAuth" (click)="open()" class="btn btn-primary mr-2">Je participe</button>
        <button class="btn btn-primary" (click)="voirEvenement(index)">Voir l'évènement</button>
      </div>

    </div>
</section>
